*{margin:0;
  padding:0;
  font-family:"微软雅黑";
  }

.fruit-w{width:960px;
  height:50px;
        font-size:25px;
        margin:0 auto;
        text-align: left;

      }


.fruit-n{
  height:40px;
          background: url(http://iknowpc.bdimg.com/static/common/widget/menu/img/menu-bg_83f126e.png) repeat-x;
          overflow: hidden;


}
#demo{  width:960px;
  margin:0 auto;

}

.fruit-n a{
        display:inline-block;
        font-size:18px;
        line-height: 40px;
        text-align: center;
        border-right: 1px solid #09A800;
        float: left;
             }

.fruit-n  a{
}


.fruit-n a:not(:first-child){width:97px;
text-align: center;
margin-left: 0}

.fruit-n a:first-child{
  width:67px;
  text-align: left;
  padding-left: 0;}

  .fruit-n a:hover{background-color: #36CA61}

.fruit-n a:visited,.fruit-n a:link{text-decoration:none;
                   color:#fff;}

.fruit-n a:hover{color:#ABC796;
             }


.fruit-i{width:960px;
         padding-top: 50px;
         margin:0 auto;
         overflow: hidden;
}
.fruit-i li{
            display:inline-block;
            width:28%;
            text-align: center;
            border: 1px solid #bcbcbc;
            padding-bottom: 100px;
            animation: searchLights 1s ease-in 1s infinite;

}

.fruit-i li:nth-child(2){margin:0 7%;}

.fruit-i-n{width:150px;
           height:180px;

           border:1px solid #fff;
           padding:50px 20px 10px 20px;
}
.box{
            position:absolute;
            background-color:#eee;
            color:#fff;
            padding:10px;
            border:#999 solid 1px;
            border-radius: 5px;
            box-shadow:2px 2px 4px #ccc;
            width:400px;
            height: 500px;
        }
.box iframe{
            margin:0px;
            padding:0px;
            border:none;
            background-color: #FFF;
            width:inherit;
            height:inherit;
        }

.fruit-i ul li p:hover{color:red;}

.fruit-e{width: 100%;
        position: fixed;
        bottom: 0;
        padding-bottom: 8px;
}

.fruit-e p{text-align: center;
           padding:8px;

}
